
@{
    ViewBag.Title = "Yeni Kullanıcı";
}

@model List<musteriOtomasyon.Entity.Roller>
@section head{
    <script src="/Content/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="/Content/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="/Content/global_assets/js/plugins/forms/styling/switch.min.js"></script>
    <script src="/Content/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="/Content/global_assets/js/plugins/forms/selects/select2.min.js"></script>

    <script src="/Content/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="/Content/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="/Content/global_assets/js/demo_pages/form_select2.js"></script>
}
<div class="col-md-12">

    <!-- Right buttons -->
    <div class="card">

        <div class="card-header header-elements-inline">
            <h6 class="card-title">Yeni Kullanıcı Ekle</h6>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    @*<a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>*@
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="/Kullanici/YeniKullanici" method="post">

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Adı:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Adı" name="Adi">
                    </div>
                    <label class="col-form-label col-lg-2">Soyadı:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Soyadı" name="Soyadi">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Kullanıcı Adı:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="Username">
                    </div>
                    <label class="col-form-label col-lg-2">Şifre:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Şifre" name="Sifre">
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-lg-10 ml-lg-auto text-right">
                        <button type="submit" class="btn btn-light">İptal</button>
                        <button type="submit" class="btn bg-blue ml-3">Kaydet <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /right buttons -->
    <!-- Left and right buttons (reversed) -->
    <!-- /left and right buttons (reversed) -->
</div>
