@{
    ViewBag.Title = "Yeni Kullanıcı";
}

@section head{
    <script src="/Content/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="/Content/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="/Content/global_assets/js/plugins/forms/styling/switch.min.js"></script>
    <script src="/Content/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="/Content/global_assets/js/plugins/forms/selects/select2.min.js"></script>

    <script src="/Content/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="/Content/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="/Content/global_assets/js/demo_pages/form_select2.js"></script>
}
<div class="col-md-12">

    <!-- Right buttons -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Yeni Kullanıcı Ekle</h6>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    @*<a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>*@
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="/Kullanici/RolAta" method="post">

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Username:</label>
                    <div class="col-lg-10">
                        <select data-placeholder="Username" class="form-control select-search" data-fouc name="KullaniciID">
                            @foreach (musteriOtomasyon.Entity.Kullanici kl in ViewBag.kullanicilar)
                            {
                                <option value="@kl.KullaniciID">@kl.Username</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Rol:</label>
                    <div class="col-lg-10">
                        <select data-placeholder="Rol" class="form-control select-search" data-fouc name="RolID">
                            @foreach (musteriOtomasyon.Entity.Roller rl in ViewBag.roller)
                            {
                                <option value="@rl.RolID">@rl.RolAdi</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="form-group row mb-0">
                    <div class="col-lg-10 ml-lg-auto text-right">
                        <button type="submit" class="btn btn-light">İptal</button>

                        <button type="submit" class="btn bg-blue ml-3">Kaydet <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /right buttons -->
    <!-- Left and right buttons (reversed) -->
    <!-- /left and right buttons (reversed) -->
</div>